.backstage-container {
    position: relative;
    overflow: hidden;
    text-align: center;
    background-size: cover;
    background-position: center center;
    animation: fadeIn 1.5s ease-in-out;
}

.backstage-content {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.backstage-logo {
    position: absolute;
    width: auto;
    z-index: 2;
}