/* Simple styling for the admin page and plugin-related elements */
.aimo-admin-wrap {
    margin: 20px;
}

.aimo-message {
    padding: 15px;
    background-color: #d3ffd3;
    border: 1px solid #33cc33;
    color: #333;
    font-weight: bold;
}
